body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(180deg, #0b001a, #120028);
  color: white;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header span {
  color: #a855f7;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  margin-top: 80px;
}

.hero span {
  color: #a855f7;
}

.btns button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background: #7c3aed;
  color: white;
  cursor: pointer;
}

.demo {
  background: transparent;
  border: 1px solid #7c3aed;
}

.planes {
  margin-top: 100px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1a002e;
  padding: 20px;
  border-radius: 15px;
}

.premium {
  border: 2px solid #a855f7;
}

